<?xml version="1.0" encoding="UTF-8"?>
<!--  -->
<configuration>
	<loggers>
		<root level="info">
			<appenderRef ref="stdout"></appenderRef>
			<appenderRef ref="all"></appenderRef>
		</root>
	</loggers>
	<appenders>
		<console name="stdout">
			<patternLayout pattern="%d %p [%t]: %m%n"></patternLayout>
		</console>
		<RollingFile name="all" fileName="log/all.log" filePattern="log/all.%i.log.gz">
			<patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p [%t]: %n%m%n "/>
			<Policies>
				
			</Policies>
		</RollingFile>
	</appenders>
</configuration>