/.metadata/*
.recommenders/*
/demo/log/*.log
/spring0507/.settings/*.jsdtscope
/spring0507/.settings/*.prefs
/spring0507/.settings/*.component
/spring0507/.settings/*.xml
/spring0507/.settings/*.container
/spring0507/.settings/*.name
/Servers/.project
/Servers/.settings/org.eclipse.wst.server.core.prefs
/Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
/Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
/Servers/Tomcat v7.0 Server at localhost-config/context.xml
/Servers/Tomcat v7.0 Server at localhost-config/server.xml
/Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
/Servers/Tomcat v7.0 Server at localhost-config/web.xml
/Servlet/.project
/Servlet/.settings/.jsdtscope
/Servlet/.settings/org.eclipse.jdt.core.prefs
/Servlet/.settings/org.eclipse.wst.common.component
/Servlet/.settings/org.eclipse.wst.common.project.facet.core.xml
/Servlet/.settings/org.eclipse.wst.jsdt.ui.superType.container
/Servlet/.settings/org.eclipse.wst.jsdt.ui.superType.name
