/.metadata/*
.recommenders/*
/demo/log/*.log
/spring0507/.settings/*.jsdtscope
/spring0507/.settings/*.prefs
/spring0507/.settings/*.component
/spring0507/.settings/*.xml
/spring0507/.settings/*.container
/spring0507/.settings/*.name
/Servers/.project
/Servers/.settings/org.eclipse.wst.server.core.prefs
/Servers/Tomcat v7.0 Server at localhost-config/catalina.policy
/Servers/Tomcat v7.0 Server at localhost-config/catalina.properties
/Servers/Tomcat v7.0 Server at localhost-config/context.xml
/Servers/Tomcat v7.0 Server at localhost-config/server.xml
/Servers/Tomcat v7.0 Server at localhost-config/tomcat-users.xml
/Servers/Tomcat v7.0 Server at localhost-config/web.xml
